#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(../images/prevnext/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../images/prevnext/nextlabel.gif) right 15% no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }

/** 
 * Slideshow style rules.
 */
#slideshow {
	margin:0 auto;
	width:840px;
	height:203px;
	position:relative;
}
#slideshow #slidesContainer {
  margin:0 auto;
  width:860px;
  height:203px;
  overflow:auto; /* allow scrollbar */
  position:relative;
}
#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:840px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
  height:203px;
}

/** 
 * Slideshow controls style rules.
 */
.control {
  display:block;
  width:39px;
  height:203px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
}
#leftControl {
  top:0;
  left:0;
  background:transparent url(../img/control_left.jpg) no-repeat 0 0;
  z-index:10000;
}
#rightControl {
  top:0;
  right:0;
  background:transparent url(../img/control_right.jpg) no-repeat 0 0;
  z-index:10000;
}

/** 
 * Style rules for Demo page
 */

.slide h2, .slide p {
  margin-left:40px;
}
.slide h2 {
  font:normal 15px Arial;
  color:#ccc;
    line-height:20px;
}
.slidePlat
{ 
	font:normal 11px Arial;
  color:#ccc;
  line-height:20px;
    margin-left:40px;
}

#SlideImg
{
  float:left;
  margin:0 15px;
  z-index:-1;
  position:absolute
}
